*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    height:120px;
    display: flex;
    background-color: #2a2a2a;
}
#logo{
    margin: 10px;
    height: 100px;
    width: 100px;
}
.logo{
    width: 800px;
    height: 100px;
    display: flex;
}
#nav_anchor{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(233, 144, 11);
}
#logo_heading{
    text-align: center;
    margin-top: 25px;
    margin-left: 12px;
    font-size: 2.5rem;
    font-family:cursive;
    color:rgb(233, 144, 11) ;

}
/* signup  */
/* .................................................... */
.Signup{
    background-color: #1a1a1a;
    color: #ffffff;
    margin-top: 10px;
    padding-top: 50px;
    text-align: center;
    height: 300px;
    border: 3px solid black;
}
.email{
    width:100%;
    display: flex;
    /* margin-left: 550px; */
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}
#email{
    padding: 5px;
    height: 25px;
    width: 500px;
    border: 2px solid black;
}
#SignUP{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 15px;
}
#Signup_but{
    background-color: rgb(233, 144, 11);
    font-size: 1.8rem;
    padding: 2px;
    width: 120px;
    cursor: pointer;
    border: none;
   
}
#Signup_but:hover{
    background-color: rgba(236, 135, 3, 0.856);
 border: 2px solid #000000;
}
/* section1  */
/* ........................................  */

.menu{
    height: 100px;
    width: 500px;
}
ul{
    display: flex;
    height: 100px;
    /* width: 300px; */
    justify-content: end;
    align-items: center;
}
#menu_items{
    font-size:1.3rem;
    /* margin-right: 25px; */
    margin-left: 25px;
    list-style: none;
}
#menu_photo{
    height: 500px;
    width: 500px;
    margin: 40px;
    border-radius: 40%;
}
.side_menu{
    height: 500px;
    width: 500px;
    margin-left: 40px;
    margin-top: 120px;
}
.section1{
    display: flex;
    height: 540px;
    margin-left: 120px;
}
#enjoy{
    font-size: 4.0rem;
}
#menu_lorem{
    margin-top: 10px;
    font-size: 1rem;
}
#explore_button{
    color: white;
    background-color: rgb(196,136,49);
    margin-top: 30px;
    font-size: 1.5rem;
    border: none;
    padding: 5px;
}
.icons{
    height: 80px;
    width: 80px;
}
.section2{
    margin-top: 20px;
    height: 200px;
    display: flex;
    width: 1300px;
    margin: 25px;
    margin-bottom:8px;

}
/* important */

 .bar1{
    display: flex;
    align-items: center;
}
.bar2{
    display: flex;
    align-items: center;
}
.bar3{
    display: flex;
    align-items: center;
} 

.discount{
    margin: 25px;
}

/* GRID  */
/* ........................................ */

.tag{
    text-align: center;
    height: 100px;
    font-size:1.4rem;
    font-size: 2rem;
    /* margin-bottom: 30px; */
}
#explore_tag{
    font-size:1.8rem;
    margin-top: 25px;
    
    
}
#sch{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 144, 11);
}
.menu_gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 45px;
}
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap:10px;
    row-gap: 10px;
    grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
    /* border-radius: 25px; */
    
    
}
.item1{
    grid-area: I1;
    
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area:I7;
}
.hover_img:hover{
    transition: 0.5s ease-in-out;
    transform:scale(1.05);
    cursor: pointer;
}
.hover_img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}







/* .................................................... */
/* Schedule section  */
.scheduer_tag{
    text-align: center;
}

#delivery_cont{
    height: 300px;
    width: 300px;
}
.content_img_schedule{
    margin: 22px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    /* margin-left: 25px; */
    align-items: center;
}
.content_schedule{
    width: 370px;
    height: 200px;
    text-align: center;
    margin-top: 25px;
    margin-right: 100px;
}
#ontime{
    font-size: 1.8rem;
    margin-bottom: 10px;
    width: 400px;
}
h4{
    font-size:1rem;
}
button{
    background-color:green;
    font-size: 1.2rem;
    margin: 20px;
}
#prb_but{
    color: white;
    text-decoration: none;
}
#whatsaap{
    font-size: 1.2rem;
}








/* FOOTER SECTION */

.footer{
    height:200px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    

}
.footer_menu1{
    display: flex;
    flex-direction: column;
    height:200px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.footer_menu2{
    display: flex;
    flex-direction: column;height:200px;
    width: 300px;
   justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.footer_menu3{
    display: flex;
    flex-direction: column;
    height:200px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#footerlogo{
    height: 120px;
    width: 120px;
    margin-right: 25px;
}
body{
    height: 1000px;
    background-color: #000000;
    color: #ffffff;
}
.footerlogo{
    display: flex;
    height: 200px;
    width: 500px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;

}
#fmenu{
    margin-bottom: 10px;
}
#f_anchor{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(233, 144, 11);
}
.footer_icons{
    display: flex;
    margin: 10px;
    color: rgb(233, 144, 11);
    cursor: pointer;
}
i{
    margin-right: 10px;
}
#footer_headings{
    color:rgb(233, 144, 11);
    
}
#copy{
    text-align: center;
    text-decoration: solid ;
    color: white;
    background-color: black;
    height: 35px;
}
#footer_headings1{
    color:rgb(233, 144, 11);
    font-size: 40px;
    font-family: cursive;
    /* width:180px; */
}